body {
  margin: 0;
  padding: 0;
}


p, nav {
  border: solid rgba(228,228, 228, 0.99) 1px;
  font-family: Arial, sans-serif;
  color: #222;
  font-size: small; 
}

#main-logo {
  margin: 0 auto;
}

nav {
  text-align: right;
}

main {
  padding-top: 10%;
  text-align: center;
}

#search-bar {
  border-top-left-radius: : 100%;
}

footer {
  font-family: Arial, sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: rgba(0, 0, 0, 0.54);
}

footer > div {
  background: #f2f2f2;
  border: solid rgba(228,228, 228, 0.99) 1px;
  font-size: 14px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  padding-right: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}
footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: #000;
}

#bottom-footer {
  padding: 0.75rem 1.6rem 0.75rem 2rem;
}
/* .nav-link {
  display: inline;
} */
