body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


nav {
  height:
  font-family: Arial, sans-serif;
  color: #222;
  font-size: small;

}

p {

  font-family: Arial, sans-serif;
  color: #222;
  font-size: small;
}

.nav-link {
  color:black;
  text-decoration: none;
  padding-right: 1.5em;
  vertical-align: middle;

}

#products {
  background-image: url('../asset/products.png');
  background-repeat: no-repeat;
  background-position: -167px -45px;
  background-size:633.6px 81.6px ;
  opacity: 0.4;
  width:350px;
  height:35px;
  border: solid black 0px;
  padding: 10px;
  margin: 1em 0px 10px -10px;
}

#user-icon {
  /* margin: 10px 10px 2px 1px; */
  padding:5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 1em 1em 0 1em;
}


#main-logo {

  margin: 0 auto;
  margin-top:-50;
}

nav {
  text-align: right;
}

#side-logo {
  padding: 2em 0 5px 2em ;
  height: 36.8px;
  width: 108.8px;
  float:left;
}

#side-search-bar {
  float: left;
  border: solid rgba(0, 0, 0, 0.40) 1px;
  padding: 6px 2.5% 6px 6px;
  margin: 26px 0 0 30px;
  width: 35%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  display: flex;
}

#side-search-bar > input {
  font-size: 16px;
  border: none;
  vertical-align: center;
  margin: 0 10px 0 10px;
  flex-grow: 1;
  display: flex;
}

main {
  padding-top: 10%;
  text-align: center;
}

#search-bar {
  border: solid #d1d1d1 1px;
  padding: 0.8% 2.5% 1% 2.5%;
  margin: 1rem auto 1rem auto;
  width: 35%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  display: flex;

}

#mag-glass {
  background-image: url('../asset/products.png');
  background-repeat: no-repeat;
  background-position: -299px -40px;
  background-size:633.6px 81.6px ;
  opacity: 0.4;
  width:25px;
  height:25px;
  border: solid black 0px;
  padding: 0 0 0 0;
  margin: -1px 0px -1px -10px;
}

#mic {
  margin: -1px -15px -1px 0px;
  padding: 0px 0px 0px 0px;
  width:25px;
  height:25px;
  background-image: url('../asset/googlemic.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width:100px;
  text-decoration: none;
  color:white;
  font-size: small;
  font-weight:bold;
  text-align: center;
  padding: 5px;
  border: solid black 1px;
  background-color:black;
  position: absolute;
  top: 145%;
  left: -150%;
  border:10px;
}

.tooltip .tooltiptext::after {
  content:"";
  position:absolute;
  bottom: 100%;
  left:45%;
  margin-left: -5px ;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}


.tooltip:hover .tooltiptext {

  visibility: visible;

}


#search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

#search-bar:focus-within {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}


#search-bar > input {
  border: none;
  vertical-align: center;
  margin: 0 10px 0 10px;
  flex-grow: 1;
}

#search-bar > input:focus, #side-search-bar > input:focus{
  outline: none;
  background-color:;

}


button {
  color: #222;
  margin: 11px 4px;

  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  border: solid #f2f2f2 1px;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 27px

}

button:hover {
  border: solid #c6c6c6 1px;
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  color: #222;

}

footer {
  font-family: Arial, sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: rgba(0, 0, 0, 0.54);
}

footer > div {
  background: #f2f2f2;
  border: solid rgba(228,228, 228, 0.99) 1px;
  font-size: 14px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  padding-right: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}
footer a:hover, .nav-link:hover {
  text-decoration: underline;
}

footer a:visited {
  color: #000;
}

#site-footer {
  position: static;
}

#bottom-footer {
  padding: 0.75rem 1.6rem 0.75rem 2rem;
}

#listing-page {
  /* border: solid black 1px; */
  text-align:left;
  vertical-align: top;
  padding: 1em;
  flex:3;
}

#div-flex {
  /* border:solid black 1px; */
  flex:4;
  }

.ads-listing{
  margin: 2px 0 1em 0;
  padding-bottom: 1%;
}
.ads-title {
  font-size: small;
}
.ads-title::before {
  content: "Ads \00B7" ;
  font-weight: bold;
}
.ads-link {
  text-decoration:none;
}
.ads-link {
  text-decoration:none;
}
.ads-link:hover {
  text-decoration: underline;
}
.ads-link:visited {
  color:blue;
}
.ads-description {
 font-size: 0.9em;
}
.ads-description span {
 font-weight: bold;
}

#box-summary{
  border: solid 1px grey;
  padding: 3%;
  border-radius: 7px;
}

#box-summary .ads-title::before {
  content: "" ;
  font-weight: bold;
}

#box-summary img {
  float:right;
}

#box-title {
  font-weight:bold;
  width:73%;
  float:left;
}

#box-listing {
  line-height: 1.5em;
  padding-left:20px;
}
/* .nav-link {
  display: inline;
} */
