body {
  margin: 0;
  padding: 0;
}


p, nav {
  border: solid rgba(228,228, 228, 0.99) 1px;
  font-family: Arial, sans-serif;
  color: #222;
  font-size: small;
}

#main-logo {
  margin: 0 auto;
}

nav {
  text-align: right;
}

main {
  padding-top: 10%;
  text-align: center;
}

#search-bar {
  border: solid black 1px;
  padding: 0.8% 2.5% 1% 2.5%;
  margin: 1rem auto 1px auto;
  width: 50%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  display: flex;
}

#search-bar > input {
  border: ;
  vertical-align: center;
  margin: 0 10px 0 10px;
  flex-grow: 1;
}

#search-bar > input:before {
  content:"test";
  display:block;
}

button {
  color: #222;
  margin: 11px 4px;

  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  border: solid #f2f2f2 1px;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 27px

}

button:hover {
  border: solid #c6c6c6 1px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  color: #222;

}

footer {
  font-family: Arial, sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: rgba(0, 0, 0, 0.54);
}

footer > div {
  background: #f2f2f2;
  border: solid rgba(228,228, 228, 0.99) 1px;
  font-size: 14px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  padding-right: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}
footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: #000;
}

#bottom-footer {
  padding: 0.75rem 1.6rem 0.75rem 2rem;
}
/* .nav-link {
  display: inline;
} */
